	div{
	background-color: #D8A56D;
	border: 5px outset #6B3E26;
	color: #6B3E26;
	padding: 30px;
	margin: 15px;
	border-radius: 20px;
	text-align: center;
}

.spe{
	background-color: #6B3E26;
	border: 5px outset white;
	color: white;
	padding: 30px;
	margin: 15px;
	border-radius: 20px;
	text-align: center;
}

input{
    border: 4px outset white;
    border-radius: 25px;
    padding: 5px;
    background-color: #6B3E26;
}


html{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 40%;
    height: 40%;
    border: 5px outset black;
    border-radius: 15px;
}



select {
    background-color: #6B3E26;
    border: 5px outset black;
    color: white;
    border-radius: 5px;
    padding: 10px;
}


button{
	background-color: #6B3E26;
    border: 5px outset black;
    color: white;
    border-radius: 15px;
    padding: 10px;
}


video{
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
}

canvas{
	display: none;
    width: 500px;
    border-radius: 10px;
    border: 2px solid black;
}



.quedalle{
display: block;
border: none;
margin: none;
}